@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efeae2;
  --foreground: #252525;
  --primary-color: #2D8CFF;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#bkg{
  background: url("./assets/img/chat-now-bkg.png") repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

video{
  transform: rotateY(180deg);
  /* color: #fefefe60; */
}
